.header{
        text-align: center;
        margin-bottom: 20px;
     }
     .section{
        margin-bottom: 20px;
     }
     ul{
        list-style-type: none;
     }
     li{
        margin-bottom: 5pxz;
     }